<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
<!--[if lt IE 8]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class='container'>
      {{ content }}
      
      {% include byline.html %}
  </div>

  {% include footer.html %}

</body>
</html>
