@import "partials/base";

$surround-colour: LightGrey;
$background-colour: white;
$box-colour: cornsilk;
$reverse-text-colour: white;
$reverse-link-colour: LightGrey;
$border-colour: maroon;
$border: 0.2em $border-colour solid;


body { background:  $surround-colour; font-family: helvetica, arial, sans-serif; }
h1 { font-size: x-large; margin-top: 1em; }
h2 { font-size: large; margin-top: 2em; }
p { line-height: 1.5em; margin: 0.5em 0; }
blockquote { font-style: italic; padding: 0 1em; }
em { font-style: italic; }
fieldset { 
  @include border-radius(0.6em);
  border: 1px solid black; 
  padding: 0 10px;
  background-color: $box-colour;
}
legend { font-weight: bold; font-size: small; }

.container {
  @include border-radius(0.6em);
  @include container;
  border: $border;
  margin: 10px auto;
  background-color: $background-colour;
  .strapline { @include clearfix; background: $border-colour; color: $reverse-text-colour; padding: 0.4em 1em 0.2em 1em; }
  .strapline a { color: $reverse-link-colour; }
  .content { padding: 0 1em; }
}
    
.breadcrumb { @include float-left; }
.date { @include float-right; }
.byline { font-style: italic; float: left; padding: 1em; }
.tweet { float: right; padding: 1em; }